<html>
    <head>
        <title>Gestion Medica</title>
    </head>
    <body>
        <form method="GET" action="/gestion_medica_registrar/">
            <b>Frecuencia Cardiaca: </b> 
            <input type="text" name="frecuencia"/>
        </br>
            <b>Saturacion Oxigeno en Sangre: </b> 
            <input type="text" name="saturacion"/>
        </br>
            <b>Nivel de Stress: </b> 
            <input type="text" name="stress"/>
        </br>
            <b>Nombre: </b> 
            <input type="text" name="nombre"/>
        </br>
        <b>Apellido: </b> 
            <input type="text" name="apellido"/>
        </br>
        <b>Edad: </b> 
            <input type="text" name="edad"/>
        </br>
        <b>Peso: </b> 
            <input type="text" name="peso"/>
        </br>

        <input type="submit" value="Enviar">

        
        </form>
    </body>
</html>